// Base
$white: #ffffff;
$black: #000000;
$black03: rgba(0,0,0,.3);

$bg-blue: #638ed5;
$bg-green: #5bd977;
$bg-orange: #dca039;
$bg-red: #ef3030;

$body-color: #333333;
$heading-color: #3d3938;
$link-color: #db5f04;

// Layout
$bg-global: #efefef;
$bg-header : #4b4c4d;
$bg-side: #3d3938;
$bg-footer: #333333;

$bg-logo: #71ad23;

// Sidebar 
$side-active: #4b4c4d;
$side-link: #6f7173;
$side-notyet: #444444;

// Form
$input-border: #a2a3a6;
$input-border-active: #638ed5;
$input-color: #4b4c4d;
$input-color-note: #7c7e7f;
$input-color-requirment: #f24242;
$input-disabled: #f8f8f8;
$input-color-disabled: #aeaeae;

$submit: #638ed5;
$submit-color: $white;
$submit-border: #5478b0;

$error-border: #f24242;
$error-color: #f24242;

// Button
$button-border: #a2a3a6;
$button-bg: #dfe1e6;
$button-bg-hover: #edf0f5;
$button-bg-active: #c1c3c7;
$button-color: #4b4c4d;

$button-blue: #638ed5;
$button-green: #5bd977;
$button-orange: #dca039;
$button-red: #ef3030;

$button-disable-bg: #dfe1e6;
$button-disable-border: #bbbdbf;
$button-disable-color: #a2a4a6;

// Table
$table-border: #bbbdbf;
$table-bg-even: #f5f5f7;
$table-hover: #fefbd6;
$table-color: #4b4c4d;

// Alert 
$alert-border: #afb0b3;

// Pagination 
$pagination-top-border: #bbbdbf;
$pagination-bg: #dfe1e6;
$pagination-border: #a2a3a6;
$pagination-color: #4b4c4d;
$pagination-active: #4b4c4d;

// Template
$border-box: #dfe1e6;






